<!doctype html>
{% extends "includes/header_footer.html" %}

{% block content %}
    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Eventum</h1>
        <p class="lead text-muted">Aqui teremos uma breve descrição do nosso serviço. Trabalho em andamento...</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Função primaria</a>
          <a href="#" class="btn btn-secondary my-2">Função secundaria</a>
        </p>
      </div>
    </div>
  </section>

  <!-- aqui inicia a estrutura dos cards -->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


            <!-- AQUI TEREMOS A IMPRESSAO DOS EVENTOS OCORRENDO NA TELA -->
            {% for ongoing_event in ongoing_events %}
            <div class="col">
              <div class="card blue-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text"><b>Nome do evento: </b>{{ ongoing_event.title }} <br></br>
                                    <b>ID do evento: </b>{{ ongoing_event.id }} <br></br>
                                    <b>Limite de atividades: </b>{{ ongoing_event.activity_limit }}
                                </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ongoing</button>
                    </div>
                    <small class="text-muted">Começou em: {{ ongoing_event.end_datetime }} </small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- AQUI TEREMOS A IMPRESSAO DOS EVENTOS FUTUROS NA TELA -->
            {% for future_event in future_events %}
            <div class="col">
              <div class="card blue-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text"><b>Nome do evento: </b>{{ future_event.title }} <br></br>
                                    <b>ID do evento: </b>{{ future_event.id }} <br></br>
                                    <b>Limite de atividades: </b>{{ future_event.activity_limit }}
                                </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Future</button>

                    </div>
                    <small class="text-muted">Começa em: {{ future_event.end_datetime }} </small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- AQUI TEREMOS A IMPRESSAO DOS EVENTOS  PASSADOS NA TELA -->
            {% for past_event in past_events %}
            <div class="col">
              <div class="card blue-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text"><b>Nome do evento: </b>{{ past_event.title }} <br></br>
                                    <b>ID do evento: </b>{{ past_event.id }} <br></br>
                                    <b>Limite de atividades: </b>{{ past_event.activity_limit }}
                                </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Passed</button>
                    </div>
                    <small class="text-muted">Terminou em: {{ past_event.end_datetime }} </small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

  </body>
</html>
