<!doctype html>
{% extends "includes/header_footer.html" %}

{% block content %}
    <br>

    <form class="row g-3" method="POST">
      {% csrf_token %}
      <!-- Credenciais -->

        <div class="col-md-3">
            <label for="inputUserName" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="inputUserName" {% if form.is_bound %} value="{{form.username.value}}" {% endif %}>
            {% for err in form.username.errors %}
                <small class ="text-danger"> {{err}} </small>
            {% endfor %}
        </div>

        <div class="col-md-3">
            <label for="inputSenha" class="form-label">Senha</label>
            <input type="password" class="form-control" name="password" id="inputSenha" {% if form.is_bound %} value="{{form.password.value}}" {% endif %}>
            {% for err in form.password.errors %}
                <small class ="text-danger"> {{err}} </small>
            {% endfor %}
        </div>


        <div class="col-12">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>


    Se você não tem uma conta, se <a href="/signup" target="blank"><strong>registre</strong></a>.


{% endblock %}

  </body>
</html>
